div.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:180px;
}
div.gallery:hover{
    border;1px solid #777;
}
div.gallery img{
    widht:100%;
    height:auto;
}
div.desc{
    padding:15px;
    text-align: center;
}
.sprite{
    background: url("img6.png")no-repeat;
}
.engineers{
    width:500px;
    height:500px;
    display:inline-block;
    background-position: 0px 0px;
}
.shadows{
    width:500px;
    height:500px;
    display:inline-block;
    background-position: 0px 0px;
}
a[href="hhtps://shkolladigjitale.com/"]{
    color:blue;
}
p[class*="ds"]{
    background: blue;
    color:white;
    padding:20px;
}
div[id~="ds"]{
    background: green;
    color:white;
    padding:20px;
}
img[title^=blue]{
    border:2px solid blue;
}
h1[class=heading]{
    background:purple;
    padding:20px;
    color:white;
}
input[placeholder$="name"]{
    border:2px solid red;
}
input[readonly]{
    border:2px solid red;
}